
:root{
    --yellow : #ffe020;
    --blue: #1D4CDF;
    --red: #E20D0C;
    --black: #020202;
    --white: #fff;
}


.c-yellow{
    color: var(--yellow);
}

.c-blue{
    color: var(--blue);
}

.c-red{
    color: var(--red);
}

.c-black{
    color: var(--black);
}

.c-white{
    color: var(--white);
}

.z-ind{
    z-index: 99;
}

.bgc-blue{
    background-color : var(--blue);
}

*{
    font-family: 'Comic Neue', cursive;
}

.nav-img{
    margin-left: -12px;
    margin-top: -12px;
    margin-bottom: -10px;
}

.nav-title{
    font-family: 'Acme', sans-serif;
}

.fs-10{
    font-size: 10px;
}

.navb-link-cont{
    border-bottom: 1px solid black;
}

.collapse .navb-link-cont .show{
    border-bottom: 1px solid black;
    text-align: center;

}

.navbar-toggler .btnCol {
    border: none;
    color: var(--black);
    text-decoration: none;

}