
:root{
    --yellow : #ffe020;
    --blue: #1D4CDF;
    --red: #E20D0C;
    --black: #020202;
    --white: #fff;
}


.c-yellow{
    color: var(--yellow);
}

.c-blue{
    color: var(--blue);
}

.c-red{
    color: var(--red);
}

.c-black{
    color: var(--black);
}

.c-white{
    color: var(--white);
}

.z-ind{
    z-index: 99;
}

.bgc-blue{
    background-color : var(--blue);
}

*{
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Acme', sans-serif;

}

.nav-img{
    margin-left: -12px;
    margin-top: -12px;
    margin-bottom: -10px;
}

.nav-title{
    font-family: 'Acme', sans-serif;
}

.fs-10{
    font-size: 10px;
}

.navb-link-cont{
    border-bottom: 1px solid black;
    width: 100%;
}

.collapse .navb-link-cont .show{
    border-bottom: 1px solid black;
    text-align: center;

}

.navbar-toggler .btnCol {
    border: none;
    color: var(--black);
    text-decoration: none;

}

.srcBar{
    position: absolute;
    top: -100px;
    z-index: 999;
    background-color: var(--white);
    height: 100px;
    transition: all 0.5s;
}
.srcBarActive{
    position: absolute;
    top: 40px;
    z-index: 999;
    background-color: var(--white);
    height: 100px;
    transition: all 0.5s;

}

/* HEADER */

.masthead{
    background-image: url(./media/manga-store.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}


.bg-h-head{
    background-color: rgba(255, 255, 255, 0.25);
}

.img-title{
    max-width: 250px;
    max-height: 150px;
}

/* SEZIONE CATEGORIE */

.card-category-manga{
    height: 250px;
    width: 400px;
    background-image: url(./media/manga-open.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
}
.card-category-comic{
    height: 250px;
    width: 400px;
    background-image: url(./media/comics.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
}
.card-category-gadget{
    height: 250px;
    width: 400px;
    background-image: url(./media/yamcha-gad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
}
.card-category-forum{
    height: 250px;
    width: 400px;
    background-image: url(./media/manga-sign.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
}