
:root{
    --yellow : #ffe020;
    --blue: #1D4CDF;
    --red: #E20D0C;
    --black: #020202;
    --white: #fff;
}


.c-yellow{
    color: var(--yellow);
}

.c-blue{
    color: var(--blue);
}

.c-red{
    color: var(--red);
}

.c-black{
    color: var(--black);
}

.c-white{
    color: var(--white);
}


*{
    font-family: 'Comic Neue', cursive;
}